{% trans_default_domain 'FOSUserBundle' %}



<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- user icone-->
        <div class="fadeIn first">
            <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" id="icon" alt="User Icon" />
        </div>


        <form action="{{ path("fos_user_security_check") }}" method="post" >
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <!--<label for="username">{{ 'security.login.username'|trans }}</label>-->
            <input type="text"  id="username" name="_username" value="{{ last_username }}" class="fadeIn second" required="required" autocomplete="username" placeholder="{{ 'security.login.username'|trans }}" />

            <!--<label for="password">{{ 'security.login.password'|trans }}</label>-->
            <input type="password" id="password" name="_password" class="fadeIn third" required="required" autocomplete="current-password"  placeholder="{{ 'security.login.password'|trans }}"/>
            <br>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            <br>
            <input type="submit" id="_submit" class="fadeIn fourth" name="_submit" value="{{ 'security.login.submit'|trans }}" />

        </form>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    </div>
</div>

